<div>
	<div class="sm:hidden">
		<label for="tabs" class="sr-only">Select a tab</label>
		<select id="tabs" name="tabs"
			class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
			<option>My Account</option>
			<option>Company</option>
			<option selected>Team Members</option>
			<option>Billing</option>
		</select>
	</div>
	<div class="hidden sm:block">
		<nav class="flex space-x-4" aria-label="Tabs">
			{{ if eq .Params.pricingmenu "home"}}
			<a href="/pricing" class="bg-sb text-white hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				Managed
			</a>
			{{else}}
			<a href="/pricing" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
				Managed
			</a>
			{{end}}
			{{ if eq .Params.pricingmenu "self"}}
			<a href="/pricing/self-hosted" class="bg-sb text-white hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				Self-hosted
			</a>
			{{else}}
			<a href="/pricing/self-hosted" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
				Self-hosted
			</a>
			{{end}}
			{{if eq .Params.pricingmenu "source"}}
			<a href="/pricing/source-code" class="bg-sb text-white px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				Source code
			</a>
			{{else}}
			<a href="/pricing/source-code" class="text-gray-500 px-3 py-2 font-medium text-sm rounded-md">
				Source code
			</a>
			{{end}}
		</nav>
	</div>
</div>