<!DOCTYPE html>
<html>

<head>
	{{ partial "header/meta.html" . }}

	<script src="/js/backend.js"></script>
</head>

<body>

	{{ partial "header/mainnav.html" .}}

	<div class="mx-auto container py-8">
		<div class="text-center">
			<h1 class="text-gray-900 text-5xl pb-4">{{.Params.Title}}</h1>
			<p class="text-gray-600">
				{{.Params.docsub}}
			</p>
		</div>

		<div class="p-20 md:flex">
			<div class="w-full md:w-1/3 lg:w-1/4 xl:w-1/5">
				{{ partial "guides/menu.html" .}}
			</div>
			<div class="w-full md:w-2/3 lg:w-3/4 xl:w-4/5">
				<div class="prose prose-lg text-gray-600 mx-auto">
					{{if strings.Contains .Params.submenu "tut"}}
						<div class="w-full">
							<textarea id="code" class="w-full" rows="10">code goes here</textarea>
						</div>
						<div class="w-full pt-4 pb-12">
							<button id="exec-code"
							class="inline-flex justify-center py-4 px-4 border border-transparent text-lg leading-6 font-medium rounded-md text-white bg-sb hover:bg-red-600 focus:outline-none focus:border-red-700 focus:ring active:bg-sb transition duration-150 ease-in-out"
							>
							Execute code
						</button>

							<pre id="results"></pre>
						</div>
					{{end}}
					
					{{.Content}}
				</div>
			</div>
		</div>
	</div>

	{{ partial "footer/footer.html"}}

	<script src="/js/tut.js"></script>
	<script src="/js/{{.Params.submenu}}.js"></script>
</body>

</html>