<!DOCTYPE html>
<html>

<head>
	{{ partial "header/meta.html" . }}
</head>

<body>

	{{ partial "header/mainnav.html" .}}

	<div class="bg-white">
		<div class="max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
			<div class="sm:flex sm:flex-col sm:align-center">
				<h1 class="text-5xl font-extrabold text-gray-900 sm:text-center">
					{{.Title}}
				</h1>
				<p class="mt-5 text-xl text-gray-500 sm:text-center">
					{{.Params.lead}}
				</p>
				<!--
				<div class="relative self-center mt-6 bg-gray-100 rounded-lg p-0.5 flex sm:mt-8">
					 partial "pricing/menu.html" . 
				</div>
				-->

				{{.Content}}
			</div>
		</div>
	</div>


	{{ partial "footer/footer.html"}}
</body>

</html>