<!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ]
  }
  ```
-->
<div>
	<div class="sm:hidden">
		<label for="tabs" class="sr-only">Select a tab</label>
		<select id="tabs" name="tabs"
			class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
			<option>My Account</option>
			<option>Company</option>
			<option selected>Team Members</option>
			<option>Billing</option>
		</select>
	</div>
	<div class="hidden sm:block">
		<nav class="flex space-x-4" aria-label="Tabs">
			{{ if eq .Params.gsmenu "example"}}
			<a href="/getting-started" class="bg-sb text-white hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				Example
			</a>
			{{else}}
			<a href="/getting-started" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
				Example
			</a>
			{{end}}
			{{ if eq .Params.gsmenu "cli"}}
			<a href="/getting-started/cli" class="bg-sb text-white hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				CLI
			</a>
			{{else}}
			<a href="/getting-started/cli" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
				CLI
			</a>
			{{end}}
			{{if eq .Params.gsmenu "local"}}
			<a href="/getting-started/local-dev" class="bg-sb text-white px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				Local development
			</a>
			{{else}}
			<a href="/getting-started/local-dev" class="text-gray-500 px-3 py-2 font-medium text-sm rounded-md">
				Local development
			</a>
			{{end}}
			{{if eq .Params.gsmenu "selfhost"}}
			<a href="/getting-started/self-hosting" class="bg-sb text-white px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				Self hosting
			</a>
			{{else}}
			<a href="/getting-started/self-hosting" class="text-gray-500 px-3 py-2 font-medium text-sm rounded-md">
				Self hosting
			</a>
			{{end}}
			{{if eq .Params.gsmenu "deploy"}}
			<a href="/getting-started/deploy" class="bg-sb text-white hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md" aria-current="page">
				Local to production
			</a>
			{{else}}
			<a href="/getting-started/deploy" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
				Local to production
			</a>
			{{end}}
		</nav>
	</div>
</div>