<!DOCTYPE html>
<html>

<head>
	{{ partial "header/meta.html" . }}
</head>

<body>

	<!-- top banner -->
<div class="relative bg-sb">
  <div class="max-w-7xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
    <div class="pr-16 sm:text-center sm:px-16">
      <p class="font-medium text-white">
        <span class="md:hidden"> Join us on Discord </span>
        <span class="hidden md:inline"> Join the discussion on Discord! </span>
        <span class="block sm:ml-2 sm:inline-block">
          <a href="https://discord.gg/vgh2PTp9ZB" class="text-white font-bold underline"> Join here <span aria-hidden="true">&rarr;</span></a>
        </span>
      </p>
    </div>
    <div class="absolute inset-y-0 right-0 pt-1 pr-1 flex items-start sm:pt-1 sm:pr-2 sm:items-start">
      
    </div>
  </div>
</div>

	<!-- /top banner -->

	<div class="relative bg-gray-800 overflow-hidden" x-data="{ isOpen: false }">
		<div class="hidden sm:block sm:absolute sm:inset-0">
			<svg
				class="absolute bottom-0 right-0 transform translate-x-1/2 mb-48 text-gray-700 lg:top-0 lg:mt-28 lg:mb-0 xl:transform-none xl:translate-x-0"
				width="364" height="384" viewBox="0 0 364 384" fill="none">
				<defs>
					<pattern id="eab71dd9-9d7a-47bd-8044-256344ee00d0" x="0" y="0" width="20" height="20"
						patternUnits="userSpaceOnUse">
						<rect x="0" y="0" width="4" height="4" fill="currentColor" />
					</pattern>
				</defs>
				<rect width="364" height="384" fill="url(#eab71dd9-9d7a-47bd-8044-256344ee00d0)" />
			</svg>
		</div>
		<div class="relative pt-6 pb-12 sm:pb-32">
			<nav class="relative max-w-screen-xl mx-auto flex items-center justify-between px-4 sm:px-6">
				<div class="flex items-center flex-2">
					<div class="flex items-center justify-between w-full md:w-auto">
						<a href="/" aria-label="Home">
							<img class="h-8 w-auto sm:h-10" src="/img/logo-sb-white-text.png" alt="StaticBackend">
						</a>
						<div class="-mr-2 flex items-center md:hidden">
							<button type="button"
								class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 bg-transparent hover:bg-gray-700 focus:outline-none focus:bg-gray-700 transition duration-150 ease-in-out"
								@click="isOpen = true" id="main-menu" aria-label="Main menu" aria-haspopup="true">
								<svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
								</svg>
							</button>
						</div>
					</div>
					<div class="hidden space-x-10 md:flex md:ml-10">
						<a href="/components"
							class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">Components</a>
							<a href="/guides/"
							class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">
							Guides
						</a>
						<a href="/getting-started"
							class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">Getting started</a>
						<a href="/docs"
							class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">Documentation</a>
						<!--a href="/pricing"
							class="font-medium text-white hover:text-gray-300 transition duration-150 ease-in-out">Pricing</a -->
					</div>
				</div>
				<div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
					<a href="http://github.com/staticbackendhq/core"
						class="whitespace-no-wrap text-base leading-6 font-medium text-white hover:text-gray-300 focus:outline-none focus:text-gray-200">
						GitHub
					</a>
					<!-- a href="/signup"
						class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-sb hover:bg-red-600 focus:outline-none focus:ring focus:border-red-700 active:bg-red-700 transition duration-150 ease-in-out">
						Managed hosting
					</a -->
				</div>
			</nav>

			<!--
				Mobile menu, show/hide based on menu open state.
	
				Entering: "duration-150 ease-out"
					From: "opacity-0 scale-95"
					To: "opacity-100 scale-100"
				Leaving: "duration-100 ease-in"
					From: "opacity-100 scale-100"
					To: "opacity-0 scale-95"
			-->
			<div x-show="isOpen" class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
				<div class="rounded-lg shadow-md">
					<div class="rounded-lg bg-white ring-1 ring-black ring-opacity-5 overflow-hidden" role="menu" aria-orientation="vertical"
						aria-labelledby="main-menu">
						<div class="px-5 pt-4 flex items-center justify-between">
							<div>
								<img class="h-8 w-auto" src="/img/logo-huge.png" alt="StaticBackend">
							</div>
							<div class="-mr-2">
								<button type="button"
									class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 bg-white hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
									@click="isOpen = false" aria-label="Close menu">
									<svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
										<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
									</svg>
								</button>
							</div>
						</div>
						<div class="space-y-1 px-2 pt-2 pb-3">
							<a href="/components"
								class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out"
								role="menuitem">Components</a>
							<a href="/guides/"
								class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out"
								role="menuitem">Guides</a>
							<a href="/getting-started"
								class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out"
								role="menuitem">Getting started</a>
							<a href="/docs"
								class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out"
								role="menuitem">Docs</a>
							<!-- a href="/pricing"
								class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out"
								role="menuitem">Pricing</a -->
						</div>
						<div>
							<!-- a href="/getting-started"
								class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out"
								role="menuitem">
								Managed hosting
							</a -->
						</div>
					</div>
				</div>
			</div>

			<main class="mt-8 sm:mt-16 md:mt-20 lg:mt-24">
				<div class="mx-auto max-w-screen-xl">
					<div class="lg:grid lg:grid-cols-12 lg:gap-8">
						<div
							class="px-4 sm:px-6 sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left lg:flex lg:items-center">
							<div>
								<a href="/guides/intro"
									class="inline-flex items-center text-white bg-gray-900 rounded-full p-1 pr-2 sm:text-base lg:text-sm xl:text-base hover:text-gray-200">
									<span
										class="px-3 py-0.5 text-white text-xs font-semibold leading-5 uppercase tracking-wide bg-sb rounded-full">
										NEW TUTORIAL
									</span>
									<span class="ml-4 text-sm leading-5">
										We have create interactive tutorials that run on your browser.
									</span>
									<svg class="ml-2 w-5 h-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
										<path fill-rule="evenodd"
											d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
											clip-rule="evenodd" />
									</svg>
								</a>
								<h2
									class="mt-4 text-4xl tracking-tight leading-10 font-extrabold text-white sm:mt-5 sm:leading-none sm:text-6xl lg:mt-6 lg:text-5xl xl:text-6xl">
									Launch your app
									<br class="hidden md:inline">
									<span class="text-sb">faster</span>.
								</h2>
								<p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
									StaticBackend is an open source self-hosted backend server API. 
									It provides all common building blocks for your web and 
									mobile applications. 1-file single binary hostable on a cheap 
									$5/month VM. 
								</p>
								<p class="mt-8">
									<a href="/getting-started/self-hosting/"
										class="inline-flex justify-center py-4 px-6 border border-transparent text-xl leading-6 font-medium rounded-md text-white bg-sb hover:bg-red-600 focus:outline-none focus:border-red-700 focus:ring active:bg-sb transition duration-150 ease-in-out">
										Get started with the self-hosted version
									</a>
								</p>
								<!--
								<p class="mt-8 text-sm text-white uppercase tracking-wide font-semibold sm:mt-10">Used by</p>
								<div class="mt-5 w-full sm:mx-auto sm:max-w-lg lg:ml-0">
									<div class="flex flex-wrap items-start justify-between">
										<div class="flex justify-center px-1">
											<img class="h-9 sm:h-10" src="https://tailwindui.com/img/logos/tuple-logo.svg" alt="Tuple">
										</div>
										<div class="flex justify-center px-1">
											<img class="h-9 sm:h-10" src="https://tailwindui.com/img/logos/workcation-logo.svg"
												alt="Workcation">
										</div>
										<div class="flex justify-center px-1">
											<img class="h-9 sm:h-10" src="https://tailwindui.com/img/logos/statickit-logo.svg"
												alt="StaticKit">
										</div>
									</div>
								</div>
								-->
							</div>
						</div>
						<div class="mt-12 sm:mt-16 lg:mt-0 lg:col-span-6">
							<!-- iframe width="560" height="315" src="https://www.youtube.com/embed/ZEEZlVF_pvc" frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe -->
								<video src="/videos/home-page.mp4" controls></video>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>

	<div class="container mx-auto py-20">
		<div class="w-full lg:flex">
			<div class="w-full lg:w-1/3 p-4 text-center">
				<h3 class="text-3xl">
					Database
				</h3>
				<span class="w-full">
					<img src="/img/icon-database.png" class="py-4 block mx-auto h-20 lg:h-32 w-auto" />
				</span>
				<p>
					Choose between PostgreSQL or MongoDB. Nothing to install for local 
					development. Use the in-memory database engine.
				</p>
			</div>
			<div class="w-full lg:w-1/3 p-4 text-center">
				<h3 class="text-3xl">
					Users management
				</h3>
				<span class="w-full">
					<img src="/img/icon-user-management.png"
						class="py-4 block mx-auto h-20 lg:h-32 w-auto" />
				</span>
				<p>
					Create accounts and users. Let your user log in and reset their 
					password. It's all built-in.
				</p>
			</div>
			<div class="w-full lg:w-1/3 p-4 text-center">
				<h3 class="text-3xl">
					Real-time 
				</h3>
				<span class="w-full">
					<img src="/img/icon-websocket.png"
						class="py-4 block mx-auto h-20 lg:h-32 w-auto" />
				</span>
				<p>
					Let users join channels to exchange data. React to database updates 
					in less than 10 lines of code.
				</p>
			</div>
		</div>

		<!-- second feature set -->
		<div class="w-full lg:flex">
			<div class="w-full lg:w-1/3 p-4 text-center">
				<h3 class="text-3xl">
					Cloud storage
				</h3>
				<span class="w-full">
					<img src="/img/icon-storage.png" class="py-4 block mx-auto h-20 lg:h-32 w-auto" />
				</span>
				<p>
					Uploading and serving files are needed frequently for most applications. 
					StaticBackend bundle with multiple options.
				</p>
			</div>
			<div class="w-full lg:w-1/3 p-4 text-center">
				<h3 class="text-3xl">
					Schedule tasks
				</h3>
				<span class="w-full">
					<img src="/img/icon-schedule-tasks.png"
						class="py-4 block mx-auto h-20 lg:h-32 w-auto" />
				</span>
				<p>
					Use schedule tasks to send onboarding emails, trial expiration 
					cleanup, Slack notifications. Calls built-in function or URL from 
					schedule or system event.
				</p>
			</div>
			<div class="w-full lg:w-1/3 p-4 text-center">
				<h3 class="text-3xl">
					Like having a backend team
				</h3>
				<span class="w-full">
					<img src="/img/icon-flexible-hosting.png"
						class="py-4 block mx-auto h-20 lg:h-32 w-auto" />
				</span>
				<p>
					The mission is to handle all common backend functionalities. If 
					something is missing, ask or, better yet, contribute.
				</p>
			</div>
		</div>
		<!-- /second feature set -->
	</div>

	<div class="container mx-auto py-20">
		<div class="w-full lg:flex py-20">
			<div class="w-full lg:w-1/2">
				<img src="/img/user-code-demo.png" alt="User registration code preview" />
			</div>
			<div class="w-full lg:w-1/2 pl-4 pt-20 prose text-gray-600">
				<h2>Simple user management</h2>
				<p>
					Create an account for your users. Each account can have multiple users, 
					and each user has a role. This structure enables you to build flexible 
					applications and access control pages.
				</p>
				<p>
					You get a session token when authenticating users you use on all 
					subsequent calls to the backend API.
				</p>
				<p>
					You're also getting a mechanism to let your users reset their 
					passwords.
				</p>
				<p>
					<a href="/docs/users">User management documentation</a>
				</p>
			</div>
		</div>

		<!-- db code demo -->
		<div class="w-full lg:flex py-20">
			<div class="w-full lg:w-1/2 pl-4 pt-20 prose text-gray-600">
				<h2>Your database</h2>
				<p>
					You have full CRUD (create, retrieve, update, and delete) operations 
					with your database. The query engine can handle all your standard and 
					advanced web and mobile application needs.
				</p>
				<p>
					You can apply an extremely flexible permissions scheme to your 
					repositories. A repository is a collection of documents.
				</p>
				<p>
					At any time, you may export your data, including your users and their 
					encrypted password. We're using Bcrypt. If you were to decide to move 
					away from StaticBackend, you would never be locked in here in any way.
				</p>
				<p>
					<a href="/docs/database">Database documentation</a>
				</p>
			</div>
			<div class="w-full lg:w-1/2">
				<img src="/img/db-code-demo.png" alt="Database code preview" />
			</div>
		</div>
		<!-- /db code demo -->

		<!-- websocket code demo -->
		<div class="w-full lg:flex py-20">
			<div class="w-full lg:w-1/2">
				<img src="/img/ws-code-demo.png" alt="WebSocket code preview" />
			</div>
			<div class="w-full lg:w-1/2 pl-4 pt-20 prose text-gray-600">
				<h2>Real-time experience in your app</h2>				
				<p>
					You have a complete WebSocket communication protocol with your 
					StaticBackend app. Not only are you getting real-time database events 
					but a fully channel-based infrastructure to build a real-time 
					experience in your application.
				</p>
				<p>
					Build collaborative document editing, chat, games, etc. Your users 
					join channels, and they exchange data with other channel members. 
					Reserved channels for data inserts, updates, and deletes exist so 
					your application can react to real-time database events and adjust 
					accordingly.
				</p>
				<p>
					Your only concern is to check for your plan's concurrent connections 
					limit. Everything else is on us.
				</p>
				<p>
					<a href="/docs/websocket">WebSocket documentation</a>
				</p>
			</div>
		</div>
		<!-- websocket code demo -->
	</div>

	{{partial "footer/footer.html" .}}
</body>

</html>