<div class="relative bg-white" x-data="{ isOpen: false }">
	<div class="max-w-7xl mx-auto px-4 sm:px-6">
		<div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
			<div class="lg:w-0 lg:flex-1">
				<a href="/" class="flex">
					<img class="h-8 w-auto sm:h-10" src="/img/logo-white.png" alt="StaticBackend">
					<!-- img class="pl-2 h-4 w-auto sm:h-6" src="/img/logo-text-black.png" -->
				</a>
			</div>
			<div class="-mr-2 -my-2 md:hidden">
				<button type="button"
					class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 bg-white hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
					@click="isOpen = true">
					<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
					</svg>
				</button>
			</div>
			<nav class="hidden md:flex space-x-10">
				<a href="/components"
					class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
					Components
				</a>
				<a href="/getting-started"
					class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
					Getting started
				</a>
				<a href="/pricing"
					class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
					Pricing
				</a>
				<a href="/docs"
					class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
					Docs
				</a>
			</nav>
			<div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
				<a href="https://app.staticbackend.com"
					class="whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900">
					Sign in
				</a>
				<span class="inline-flex rounded-md shadow-sm">
					<a href="/signup"
						class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-sb hover:bg-red-600 focus:outline-none focus:shadow-outline-red focus:border-red-700 active:bg-red-700 transition duration-150 ease-in-out">
						Start here
					</a>
				</span>
			</div>
		</div>
	</div>

	<!--
    Mobile menu, show/hide based on mobile menu state.

    Entering: "duration-200 ease-out"
      From: "opacity-0 scale-95"
      To: "opacity-100 scale-100"
    Leaving: "duration-100 ease-in"
      From: "opacity-100 scale-100"
      To: "opacity-0 scale-95"
  -->
	<div x-show="isOpen" class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden">
		<div class="rounded-lg shadow-lg">
			<div class="rounded-lg shadow-xs bg-white divide-y-2 divide-gray-50">
				<div class="px-5 pt-4 flex items-center justify-between">
					<div>
						<img class="h-8 w-auto" src="/img/logo-huge.png" alt="StaticBackend">
					</div>
					<div class="-mr-2">
						<button type="button"
							class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 bg-white hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out"
							@click="isOpen = false" aria-label="Close menu">
							<svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
							</svg>
						</button>
					</div>
				</div>
				<div class="py-6 px-5 space-y-6">
					<div class="grid grid-cols-2 row-gap-4 col-gap-8">
						<a href="/components"
							class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
							Components
						</a>
						<a href="/getting-started"
							class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
							Getting started
						</a>
						<a href="/pricing"
							class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
							Pricing
						</a>
						<a href="/docs"
							class="text-base leading-6 font-medium text-gray-900 hover:text-gray-700 transition ease-in-out duration-150">
							Docs
						</a>
					</div>
					<div class="space-y-6">
						<span class="w-full flex rounded-md shadow-sm">
							<a href="https://app.staticbackend.com"
								class="w-full flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
								Sign up
							</a>
						</span>
						<!-- p class="text-center text-base leading-6 font-medium text-gray-500">
							Existing customer?
							<a href="/signup" class="text-indigo-600 hover:text-indigo-500 transition ease-in-out duration-150">
								Sign in
							</a>
						</p -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>