<!-- div class="relative">
	<div class="absolute right-0 xs:pr-2 md:pr-4 lg:pr-8 xl:pr-20 pt-8 font-lato">
		<a href="/tour" class="text-white mr-4 md:text-3xl xl:text-lg">Tour</a>
		<a href="/pricing" class="text-white mr-4 md:text-3xl xl:text-lg">Pricing</a>
		<a href="/support" class="text-white mr-4 md:text-3xl xl:text-lg">Support</a>
		

		<a href="#" class="text-white mr-4 md:text-3xl xl:text-lg xs:ml-2 xl:ml-12">Login</a>
		<a href="#" class="bg-orange rounded shadow text-white p-2 px-8 w-20 text-lg">Sign up</a>
	</div>
</div -->