<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Page.Title }} | StaticBackend</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Merriweather&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/sb.css?v=1.10" />
<!-- link rel="stylesheet" href="/css/elements.css" / -->


<!-- Facebook -->
<meta property="og:url" content="https://staticbackend.com/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="StaticBackend">
<meta property="og:description" content="No vendor-lock-in backend as a service">
<meta property="og:title" content="StaticBackend">
<meta property="og:image" content="https://staticbackend.com/img/preview.jpg">
<!-- /Facebook -->

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@staticbackend">
<meta name="twitter:title" content="StaticBackend">
<meta name="twitter:description" content="No vendor-lock-in backend as a service.">
<meta name="twitter:image" content="https://staticbackend.com/img/preview.jpg">
<!-- /Twitter -->

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="FXEMGRDC" defer></script>
<!-- / Fathom -->